{% extends 'AppBundle::question.html.twig' %}

{% block content %}
<div class="col-md-6">
    <div>{{question.question|raw}}</div>
    <hr />
    <div class="ellak-poq-answer-container"></div>
</div>
<div class="col-md-6">
    <div style="text-align: right; padding-top:5px;">
        {% if (page+1) > section.questions|length %}
        <a href="{{path('section_results', {'section': section.id})}}" class="btn btn-poq" style="width: 145px;">Αποτελέσματα</a>
        {% else %}
        <a href="{{path('question', {'section': section.id, 'page': page+1})}}" class="btn btn-poq">Επόμενη</a>
        {% endif %}
        <BR />
        <BR />
        <BR />
        <BR />
        <BR />
    </div>
    <div class="ellak-poq-answer-similar">
        <h2>{{answer.answerPercentage}}% απάντησαν όπως εσείς</h2>
        <h3>&nbsp;&nbsp;{{answerStatsProcessed[(answerStatsProcessed|length) - 2].value}}% {{answerStatsProcessed[(answerStatsProcessed|length) - 2].label|trans}}</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;{{answerStatsProcessed[(answerStatsProcessed|length) - 1].value}}% {{answerStatsProcessed[(answerStatsProcessed|length) - 1].label|trans}}</h3>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;αλλά μόνο</h4>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;{{answerStatsProcessed[0].value}}% {{answerStatsProcessed[0].label|trans}}</h3>
        <h3>&nbsp;&nbsp;{{answerStatsProcessed[1].value}}% {{answerStatsProcessed[1].label|trans}}</h3>
    </div>
</div>
{{block('bottomcontent')}}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="//code.highcharts.com/highcharts.js"></script>
<script>
jQuery(function () {
    jQuery('.ellak-poq-answer-container').height(50+{{question.answers|length}}*50);
    jQuery('.ellak-poq-answer-container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '',
            align: 'left'
        },
        tooltip: {
            pointFormat: "<b>{point.y}</b><br/>"
        },
        xAxis: {
            visible: true,
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            minorTickLength: 0,
            tickLength: 0,
            categories: [{% for answer in question.answers %}'{{answer.answer}}'{% if not loop.last %},{% endif %}{% endfor %}],
            labels: {
                align:'left',
                x:5,
                style: {
                    fontSize: '1em',
                    color:'#fff'
                }
            }
        },
        yAxis: {
            visible: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    crop: false,
                    overflow: 'none'
                }
            }
        },
        series: [
        {
            showInLegend: false,
            name: "",
            data: [
            {% for answer in question.answers %}
            {y: {{answer.answerPercentage}}, name: "{{answer.answer}}", color: '#33A1AF'}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        }
        ]
    });
});
</script>
{% endblock %}