{% extends 'AppBundle::question.html.twig' %}

{% set selectedAnswer = answer %}

{% block content_main %}
<div class="row">
    {{block('content_question_main')}}
    <div class="col-md-7">
        <h4 style="margin-top: 0; margin-bottom: 0;">Πώς απάντησαν οι Έλληνες</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="ellak-poq-answer-container" style="max-height: {{(question.answers|length)*33}}px;"></div>
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-7">
                <b>Απάντησαν σαν εσάς κυρίως:</b>
                <ul>
                    <li>{{answerStatsProcessed[(answerStatsProcessed|length) - 2].label|trans}}, <b>{{answerStatsProcessed[(answerStatsProcessed|length) - 2].value}}%</b></li>
                    <li>{{answerStatsProcessed[(answerStatsProcessed|length) - 1].label|trans}}, <b>{{answerStatsProcessed[(answerStatsProcessed|length) - 1].value}}%</b></li>
                </ul>
                <b>Απάντησαν διαφορετικά κυρίως:</b>
                <ul>
                    <li>{{answerStatsProcessed[0].label|trans}}, <b>{{answerStatsProcessed[0].value}}%</b></li>
                    <li>{{answerStatsProcessed[1].label|trans}}, <b>{{answerStatsProcessed[1].value}}%</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10 text-right">
        <p>&nbsp;</p>
        <div class="pull-left">{{block('previous_question')}}</div>
        {% if (page+1) > section.questions|length %}
        {#<a href="{{path('section_results', {'section': section.id})}}" class="btn btn-poq" style="width: 145px;">Αποτελέσματα</a>#}
            <a href="{{path('final_results')}}" style="color: #D97804;" class="lead"><b>Αποτελέσματα</b> <span class="btn btn-poq-warning btn-circle btn-sm"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span></a>
        {% else %}
            <a href="{{path('question', {'section': section.id, 'page': page+1})}}" style="color: #D97804;" class="lead"><b>Επόμενη ερώτηση</b> &nbsp; <span class="btn btn-poq-warning btn-circle btn-sm"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span></a>
        {% endif %}
    </div>
</div>

{{block('content_rest_main')}}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="//code.highcharts.com/highcharts.js"></script>
<script>
jQuery(function () {
    jQuery('.ellak-poq-answer-container').height(50+{{question.answers|length}}*50);
    jQuery('.ellak-poq-answer-container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '',
            align: 'left'
        },
        tooltip: {
            pointFormat: "<b>{point.y}</b><br/>"
        },
        xAxis: {
            visible: true,
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            minorTickLength: 0,
            tickLength: 0,
            categories: [{% for answer in question.answers %}'{{answer.answer}}'{% if not loop.last %},{% endif %}{% endfor %}],
            labels: false
        },
        yAxis: {
            visible: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    crop: false,
                    overflow: 'none'
                }
            }
        },
        series: [
        {
            showInLegend: false,
            name: "",
            data: [
            {% for answer in question.answers %}
            {y: {{answerTotals[answer.id].percentage != '' ? answerTotals[answer.id].percentage : 0}}, name: "{{answer.answer}}", color: {% if answer.id == selectedAnswer.id %}'#D97804'{% else %}'#33A1AF'{% endif %}}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        }
        ]
    });
});
</script>
{% endblock %}