{% extends 'AppBundle::base_in_progress.html.twig' %}

{% block content_main %}
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <h4>&nbsp;</h4>
        <br />
        {% for answer in question.answers %}
            <div><input type="radio" id="answer-{{answer.id}}" name="answer" disabled="disabled" value="{{answer.id}}" style="vertical-align: top;" required> <label style="max-width: 95%;" for="answer-{{answer.id}}">{{answer.answer}}</label></div>
        {% endfor %}
        <div>
        {% if hasPrevious %}
            <div style="margin-top: 20px;"><a href="{{path('question', {'section': section.id, 'page': page-1})}}">Προηγούμενη ερώτηση</a></div>
        {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <h4>Πως απάντησαν οι Έλληνες</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="ellak-poq-answer-container" style="max-height: 255px;"></div>
            </div>
            <div class="col-md-6">
                <b>Η απάντηση σας είχε υψηλότερη ταύτηση με:</b>
                <ul>
                    <li>{{answerStatsProcessed[(answerStatsProcessed|length) - 2].label|trans}} <b>{{answerStatsProcessed[(answerStatsProcessed|length) - 2].value}}%</b></li>
                    <li>{{answerStatsProcessed[(answerStatsProcessed|length) - 1].label|trans}} <b>{{answerStatsProcessed[(answerStatsProcessed|length) - 1].value}}%</b></li>
                </ul>
                <b>Και χαμηλότερη ταύτηση με:</b>
                <ul>
                    <li>{{answerStatsProcessed[0].label|trans}} <b>{{answerStatsProcessed[0].value}}%</b></li>
                    <li>{{answerStatsProcessed[1].label|trans}} <b>{{answerStatsProcessed[1].value}}%</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-2">
        {% if (page+1) > section.questions|length %}
        {#<a href="{{path('section_results', {'section': section.id})}}" class="btn btn-poq" style="width: 145px;">Αποτελέσματα</a>#}
        <a href="{{path('final_results')}}" class="btn btn-poq" style="width: 145px;">Αποτελέσματα</a>
        {% else %}
        <a href="{{path('question', {'section': section.id, 'page': page+1})}}" class="btn btn-poq">Επόμενη</a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="//code.highcharts.com/highcharts.js"></script>
<script>
jQuery(function () {
    jQuery('.ellak-poq-answer-container').height(50+{{question.answers|length}}*50);
    jQuery('.ellak-poq-answer-container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '',
            align: 'left'
        },
        tooltip: {
            pointFormat: "<b>{point.y}</b><br/>"
        },
        xAxis: {
            visible: true,
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            minorTickLength: 0,
            tickLength: 0,
            categories: [{% for answer in question.answers %}'{{answer.answer}}'{% if not loop.last %},{% endif %}{% endfor %}],
            labels: false
        },
        yAxis: {
            visible: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    crop: false,
                    overflow: 'none'
                }
            }
        },
        series: [
        {
            showInLegend: false,
            name: "",
            data: [
            {% for answer in question.answers %}
            {y: {{answerTotals[answer.id].percentage != '' ? answerTotals[answer.id].percentage : 0}}, name: "{{answer.answer}}", color: '#33A1AF'}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
        }
        ]
    });
});
</script>
{% endblock %}