{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <hr style="border: 1px solid #58595B; margin-bottom: 0px;" />
        <div id="poq-question-progress-bar"><div style="background-color: #D97804; display: inline-block; height: 5px; margin-top: -3px;"><small>&nbsp; &nbsp; &nbsp;</small></div></div>
        <h1>{{page}}/{{section.questions|length}}</h1>
        <p>{{question.question|raw}}</p>
        <hr />
    </div>
</div>

{% block content_main %}{% endblock %}
{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
    $(document).ready(function() {
        var percent = Math.round({{page-1}}/{{section.questions|length}} * 100) / 100;
        $('#poq-question-progress-bar > div').css('width', (percent*100)+'%');
    });
</script>
{% endblock %}

{#{% if section is defined and page is defined %}
                        {% if page > 0 and page < section.questions|length %}
                            {% for i in 1..page %}&#8226;{% endfor %}{% for i in (page+1)..(section.questions|length) %}&#9702;{% endfor %}
                        {% elseif page >= section.questions|length %}
                            {% for i in 1..section.questions|length %}&#8226;{% endfor %}
                        {% else %}
                            {% for i in 1..section.questions|length %}&#9702;{% endfor %}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}#}