{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12">
        <h1>Ποιοί απάντησαν όπως εσείς;</h1>
        <hr />
    </div>
</div>

<div class="row text-center">
    <div class="col-md-offset-4 col-md-4 text-center">
        <p><b>Οι απαντήσεις σας μοιάζουν περισσότερο<BR />με αυτές των εξής πληθυσμιακών ομάδων:</b></p>
    </div>
    <div class="col-md-2 text-center">
        <p><b>Τα πετύχαμε;</b></p>
    </div>
</div>

{% for dimension,values in answerStats if dimension in ['gender', 'age', 'profession', 'educationLevel', 'income', 'region'] %}
    <div class="row text-center poq-result-row">
        <div class="col-md-offset-4 col-md-4 text-center">
            {% set label = values|keys|first %}
            {% set noLabel = values|keys|last %}
            {% set value = (values|first).percentage %}
            {{(dimension~'.'~label~'.name')|trans}}
        </div>
        <div class="col-md-2 text-center">
            <a href="#" {% if attribute(user, 'get'~(dimension|capitalize)) == label %}class="selected"{% endif %} data-dimension="{{dimension}}" data-value="yes" data-label="{{label}}" data-instantsubmit="yes">ΝΑΙ</a>
            &nbsp;&nbsp;&nbsp;
            {% if userDimensionForms[dimension][dimension]|length <= 2 %}
                {# Dual choice (e.g. male female) #}
                <a href="#" {% if attribute(user, 'get'~(dimension|capitalize)) != label %}class="selected"{% endif %} data-dimension="{{dimension}}" data-value="no" data-label="{{noLabel}}" data-instantsubmit="yes">ΟΧΙ</a>
            {% else %}
                {# Multiple choices #}
                <a href="#" {% if attribute(user, 'get'~(dimension|capitalize)) != label %}class="selected"{% endif %} data-toggle="popover" data-dimension="{{dimension}}" data-value="no" data-instantsubmit="no">ΟΧΙ</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-offset-4 col-md-4 text-center">
        <h3>Μοιράσου τα:</h3>
        <p><a href="https://www.facebook.com/sharer/sharer.php?u={{url('share', {'sessionId': user.sessionId})|url_encode()}}" target="_blank">Facebook</a> | <a href="https://twitter.com/home?status={{url('share', {'sessionId': user.sessionId})|url_encode()}}" target="_blank">Twitter</a> | <a href="{{url('share', {'sessionId': user.sessionId})}}" target="_blank">Link</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-offset-4 col-md-4 text-center">
        <h3><b><a target="_blank" href="http://www.dianeosis.org/research/greek_values/" style="color: #0099A8;">Δείτε τα αποτελέσματα της Έρευνας</a></b></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>

{% for dimension,dimensionForm in userDimensionForms %}
<div class="poq-change-answer-content hidden" data-dimension="{{dimension}}">
    <p>επιλέξτε τη σωστή απάντηση</p>
    <form action="{{path('final_results_change', {'dimension': dimension})}}" method="POST" data-dimension="{{dimension}}">
        {% for dimensionValue in dimensionForm[dimension] %}
            <div {% if dimensionValue.vars.value == (answerStats[dimension]|keys|first) or dimensionValue.vars.value == 'UNKNOWN' %}class="hidden"{% endif %}><label>{{form_widget(dimensionValue)}} {{(dimension~'.'~dimensionValue.vars.label~'.name')|trans}}</label></div>
        {% endfor %}
    </form>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    $(document).ready(function() {
        var ajaxSubmit = function($form) {
            $.ajax({
                type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url         : $form.attr('action'), // the url where we want to POST
                data        : $form.serialize(), // our data object
                dataType    : 'json', // what type of data do we expect back from the server
                encode      : true
            });
        };
        $('.poq-result-row [data-toggle="popover"]').each(function() {
            $(this).popover({
                'container': 'body',
                'html': true,
                'placement': 'left',
                'trigger': 'focus',
                'content': $('.poq-change-answer-content[data-dimension="'+$(this).attr('data-dimension')+'"]').html()
            });
            var $this = $(this);
            $(this).on('shown.bs.popover', function () {
                $('.popover-content form :radio').change(function() {
                    ajaxSubmit($('.popover-content form'));
                    // Change to no
                    $this.parent().parent().find('a[data-value="yes"]').removeClass('selected');
                    $this.parent().parent().find('a[data-value="no"]').addClass('selected');
                    // Update the actual form the popover is based on so next time it opens the correct choice is selected
                    var $formContainer = $('.poq-change-answer-content[data-dimension="'+$(this).parent().parent().parent().attr('data-dimension')+'"]');
                    var $form = $formContainer.find('form');
                    $form.find(':radio').removeAttr('checked',false);
                    $form.find('[value="'+$(this).val()+'"]').attr('checked',true);
                    $this.data('bs.popover').options.content = $formContainer.html(); // Refresh the popover content
                });
            });
        });
        $('a[data-instantsubmit="yes"][data-value="yes"]').on('click', function() {
            var $form = $('form[data-dimension="'+$(this).attr('data-dimension')+'"]');
            $form.find('[value="'+$(this).attr('data-label')+'"]').prop('checked',true);
            ajaxSubmit($form);
            $(this).parent().parent().find('a[data-value="yes"]').addClass('selected');
            $(this).parent().parent().find('a[data-value="no"]').removeClass('selected');
            $form.find('[value="'+$(this).attr('data-label')+'"]').prop('checked',false);
        });
        $('a[data-instantsubmit="yes"][data-value="no"]').on('click', function() {
            var $form = $('form[data-dimension="'+$(this).attr('data-dimension')+'"]');
            $form.find('[value="'+$(this).attr('data-label')+'"]').prop('checked',true);
            ajaxSubmit($form);
            $(this).parent().parent().find('a[data-value="no"]').addClass('selected');
            $(this).parent().parent().find('a[data-value="yes"]').removeClass('selected');
            $form.find('[value="'+$(this).attr('data-label')+'"]').prop('checked',false);
        });
    });
</script>
{% endblock %}