{% extends 'AppBundle::base_in_progress.html.twig' %}

{% block content_main %}
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <form name="form1" method="post" action="{{path('question', {'section': section.id, 'page': page})}}" style="margin: 0;">
            {% for answer in question.answers %}
                <div><input type="radio" id="answer-{{answer.id}}" name="answer" value="{{answer.id}}" style="vertical-align: top;" required> <label style="max-width: 95%;" for="answer-{{answer.id}}">{{answer.answer}}</label></div>
            {% endfor %}
            <div>
            {% if hasPrevious %}
                <div style="margin-top: 20px;"><a href="{{path('question', {'section': section.id, 'page': page-1})}}">Προηγούμενη ερώτηση</a></div>
            {% endif %}
            </div>
        </form>
    </div>
</div>
{#<div class="bottom-align-text text-center" style="width: 98%; padding-bottom: 10px;">
    <hr style="margin-top: 10px; margin-bottom: 10px;" />
    <a href="{{path('pause', {'section': section.id})}}">Αν επιθυμείτε να διακόψετε προσωρινά το ερωτηματόλογιο πατήστε εδώ.</a>
</div>#}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $('input[name="answer"]:radio').change(function() {
            $(this).closest('form').submit();
        });
    </script>
{% endblock %}