{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="pure-u-1-2">
    <form name="form1" method="post" action="">
        <div>{{question.question}}</div>
        <hr />
        {% for answer in question.answers %}
            <div><input type="radio" id="answer-{{answer.id}}" name="answer" value="{{answer.id}}"> <label for="answer-{{answer.id}}">{{answer.answer}}</label></div>
        {% endfor %}
        <div>
        <br />
        <div><input type="submit" value="Next" /></div>
        {% if hasPrevious %}
            <div><a href="{{path('question', {'page': page-1})}}">Previous question</a></div>
        {% endif %}
        </div>
    </form>
</div>
<div class="pure-u-1-2"></div>
{% endblock %}