{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<form name="form1" method="post" action="" style="margin: 0;">
    <div class="col-md-6">
            <div>{{question.questionId}}. {{question.question|raw}}</div>
            <hr />
            {% for answer in question.answers %}
                <div><input type="radio" id="answer-{{answer.id}}" name="answer" value="{{answer.id}}"> <label for="answer-{{answer.id}}">{{answer.answer}}</label></div>
            {% endfor %}
            <div>
            {% if hasPrevious %}
                <div><a href="{{path('question', {'page': page-1})}}">Previous question</a></div>
            {% endif %}
            </div>
    </div>
    <div class="col-md-6">
        <div style="text-align: right; padding-top:5px;">
            <div><button type="submit" class="btn btn-poq">Next</button></div>
        </div>
    </div>
</form>
{{block('bottomcontent')}}
{% endblock %}

{% block bottomcontent %}
<div class="bottom-align-text text-center" style="width: 98%; padding-bottom: 10px;">
    <hr style="margin-top: 10px; margin-bottom: 10px;" />
    <a href="{{path('pause')}}">Αν επιθυμείς να διακόψεις προσωρινά το ερωτηματόλογιο πάτησε εδώ.</a>
</div>
{% endblock %}