{% extends 'AppBundle::base_in_progress.html.twig' %}

{% set selectedAnswerId = (answer is defined and answer != null ? answer.id : 0) %}

{% block content_main %}
<div class="row">
    {% block content_question_main %}
    <div class="col-md-offset-2 col-md-2">
        <form name="form1" method="post" action="{{path('question', {'section': section.id, 'page': page})}}" style="margin: 0;">
            <h4>&nbsp;</h4>
            <br />
            {% for answer in question.answers %}
                <div><input type="radio" id="answer-{{answer.id}}" name="answer" value="{{answer.id}}" style="vertical-align: top;" required{% if answer.id == selectedAnswerId %} checked="checked"{% endif %}> <label style="max-width: 95%;" for="answer-{{answer.id}}">{{answer.answer}}</label></div>
            {% endfor %}
        </form>
    </div>
    {% endblock %}
</div>


{% if hasPrevious %}
<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <p>&nbsp;</p>
        {% block previous_question %}
        <a href="{{path('question', {'section': section.id, 'page': page-1})}}" style="color: #D97804;" class="lead"><b>Προηγούμενη ερώτηση</b></a>
        {% endblock %}
    </div>
</div>
{% endif %}

{% block content_rest_main %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-2">
        <div id="poq-resume-wrapper">
            <form class="form" action="{{path('pause', {'section': section.id})}}" method="POST">
                <div class="input-group">
                    <input type="text" name="email" placeholder="E-Mail" class="form-control"/>
                    <span class="input-group-addon">
                        <input class="btn btn-default" type="submit" value="OK" />
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <p><small>* η συμμετοχή στο ερωτηματολόγιο είναι ανώνυμη<BR />η υπηρεσία δεν αποθηκεύει κανένα προσωπικό στοιχείο</small></p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p style="color: #D97804;">* Θέλω να συνεχίσω το ερωτηματολόγιο αργότερα</p>
    </div>
</div>
{% endblock %}
{#<div class="bottom-align-text text-center" style="width: 98%; padding-bottom: 10px;">
    <hr style="margin-top: 10px; margin-bottom: 10px;" />
    <a href="{{path('pause', {'section': section.id})}}">Αν επιθυμείτε να διακόψετε προσωρινά το ερωτηματόλογιο πατήστε εδώ.</a>
</div>#}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $('input[name="answer"]:radio').change(function() {
            $(this).closest('form').submit();
        });
    </script>
{% endblock %}