{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Για να ξεκινήσετε το ερωτηματολόγιο από την αρχή</h4>
        <ul>
            <li><a href="{{path('question', {'section': sections[0].id, 'page': 1})}}">Κεφάλαιο {{sections[0].sectionId}}: {{sections[0].name}}</a></li>
        </ul>
        <div style="margin-top: 25px;">
            <a href="{{path('question', {'section': sections[0].id, 'page': 1})}}" class="btn btn-primary btn-xlarge">Πατήστε εδώ</a>
        </div>
        <BR />
        <h4>Διαφορετικά, μπορείτε να ξεκινήσετε επιλέγοντας από κάποιο ενδιάμεσο κεφάλαιο:</h4>
        <BR />
        <ul>
            {% for section in sections %}
                {% if not loop.first %}
                <li><a href="{{path('question', {'section': section.id, 'page': 1})}}">Κεφάλαιο {{section.sectionId}}: {{section.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}