<div class="wrap">
    <h2>{{__('Public Opinion Questionnaire', 'public-opinion-questionnaire')}}</h2>
    <h4>{{__('Import questions from CSV file', 'public-opinion-questionnaire')}}</h4>
    <form name="form1" method="post" action="">
        <input type="file" name="import" />
        {{function('submit_button')}}
    </form>

    <h4>{{__('Preload answers', 'public-opinion-questionnaire')}}</h4>
    <form name="form1" method="post" action="">
        <input type="file" name="import" />
        {{function('submit_button')}}
    </form>
</div>